.notification {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100vw;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    color: #ffffff;
}

.arrow {
    width: 30px;
    transition: 0.3s;
}

@keyframes pulse {

    0%,
    100% {
        padding-left: 0;
    }

    50% {
        padding-left: 10px;
    }
}

.container:hover {
    cursor: pointer;

    .arrow {
        animation: pulse 2s ease-out infinite;
    }
}

.info {
    background: linear-gradient(90deg, #2d83ec, #1ac9ff);
}

.warning {
    background: linear-gradient(90deg, #ec4a2d, #ffa71a);
}