@layer base {
    .dark {
        --background: #000;

        --foreground: #e0e0e1;
        --bright-foreground: #fff;
        --secondary-foreground: #68686a;
        --link-foreground: #4d96ff;

        --surface: #0e0e10;
        --surface-2: #18181a;

        --border: #212121;
    }
}