@layer base {
    :root {
        --background: #fafafa;

        --foreground: #171717;
        --bright-foreground: #000;
        --secondary-foreground: #707070;
        --link-foreground: #4d96ff;

        --surface: #fff;
        --surface-2: #f6f6f6;

        --border: #e6e6e6;
    }
}