@import './light-theme.css';
@import './dark-theme.css';
@import './palette.css';

@theme {
    --color-background: var(--background);

    --color-foreground: var(--foreground);
    --color-bright-foreground: var(--bright-foreground);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-link-foreground: var(--link-foreground);

    --color-surface: var(--surface);
    --color-surface-2: var(--surface-2);

    --color-muted-foreground: var(--muted-foreground);

    --color-border: var(--border);

    /* Border radiuses */
    --radius: 0.5rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}