@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container {
    width: 1120px;
}

.item {
    color: var(--gray-950);

    font-size: 18px;
    font-weight: 400;

    border: none;
    padding: 8px;
    text-align: left;
}

.itemHeader {
    color: var(--gray-950);

    font-size: 18px;
    font-weight: 500;

    border: none;
    padding: 8px;
    text-align: left;
}

.name {
    color: var(--gray-950);
    text-decoration: none;
    transition: 0.3s ease;
}

.name:hover {
    color: var(--blue-700);
    cursor: pointer;
    transition: 0.3s ease;
}

.link {
    font-family: 'Rubik', sans-serif;

    text-decoration: none;
    color: var(--blue-700);
}

.link:hover {
    text-decoration: underline;
}