@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container {
    width: 1120px;
}

.item {
    padding: 8px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--gray-950);
    text-align: left;
}

.itemHeader {
    padding: 8px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-950);
    text-align: left;
}

.name {
    transition: 0.3s ease;
    color: var(--gray-950);
    text-decoration: none;
}

.name:hover {
    transition: 0.3s ease;
    cursor: pointer;
    color: var(--blue-700);
}

.link {
    font-family: 'Rubik', sans-serif;
    color: var(--blue-700);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}