.card {
    background-color: var(--gray-100);
    border-radius: 25px;

    text-decoration: none;
    color: var(--blue-500);

    width: 350px;
    height: 300px;

    transition: 0.3s ease;
}

.card:hover {
    background-color: var(--gray-200);

    transition: 0.3s ease;
}

.container {
    margin: 35px;
    height: 230px;

    position: relative;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: var(--gray-950);

    padding-top: 20px;
}

.description {
    font-size: 18px;
    font-weight: 400;
    color: var(--gray-800);

    margin-top: 5px;
}

.link {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    gap: 5px;

    text-decoration: none;

    .label {
        color: var(--blue-500);

        font-size: 16px;
        font-weight: 700;
    }
}

.arrow {
    stroke: var(--blue-500);
}