@import "tailwindcss";
@config "../../tailwind.config.ts";

@import "../styles/theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@utility text-balance {
    text-wrap: balance;
}

@layer utilities {
    body {
        font-family: "Rubik", sans-serif;
    }

    .no-arrows::-webkit-inner-spin-button,
    .no-arrows::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-arrows {
        -moz-appearance: textfield;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground text-sm;
    }

    /* ::selection {
        background-color: --alpha(var(--color-blue-400) / 20%);
    }

    ::-moz-selection {
        background-color: --alpha(var(--color-blue-400) / 20%);
    } */
}
