.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    font-size: 95px;
    font-weight: 700;
    color: var(--gray-950);
}

.gradient {
    -webkit-background-clip: text;
    background: var(--gradient-title);
    background-clip: text;
    color: transparent;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    font-size: 20px;
    color: var(--gray-950);
}

.cardsTitle {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700;
    color: var(--gray-950);
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (prefers-color-scheme: dark) {
    .title {
        color: var(--gray-50);
    }

    .description {
        color: var(--gray-200);
    }

    .cardsTitle {
        color: var(--gray-50);
    }
}