.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;

    align-items: center;

    font-size: 95px;
    font-weight: 700;

    color: var(--gray-950);

    margin-bottom: 0;
}

.gradient {
    background: var(--gradient-title);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;

    color: var(--gray-950);

    margin: 40px 0;
}

.cardsTitle {
    font-size: 40px;
    font-weight: 700;

    color: var(--gray-950);

    margin-top: 40px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}