.header {
    position: sticky;
    top: 0;

    width: 100vw;

    background: #ffffffb2;
    backdrop-filter: blur(100px);

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 100;
}

.title {
    font-size: 20px;
    font-weight: 700;
    width: 164px;

    text-decoration: none;
    color: var(--black);
}

.link {
    padding: 8px 15px;

    font-size: 16px;
    font-weight: 600;

    border-radius: 13px;
    text-decoration: none;
    color: var(--black);

    transition: 0.3s;
}

.link:hover {
    background-color: #f7f9fb;

    transition: 0.3s;
}

.container {
    height: 70px;
    width: 1120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tonconnectButton {
    width: 170px;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: #121214fb;
    }

    .title {
        color: #e5e5e9;
    }

    .link {
        color: #e5e5e9;
    }

    .link:hover {
        background-color: #091009;
    }
}