.footer {
    margin-top: 50px;
    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    height: 1px;
    width: 1120px;

    margin: 0;
    border: none;

    background-color: var(--gray);
}

.container {
    width: 1120px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    color: var(--black);

    font-weight: 400;
    font-size: 16px;
}

.link {
    color: var(--black);
    text-decoration: none;
    transition: 0.3s;

    font-weight: 600;
}

.link:hover {
    color: var(--TON-accent);
    transition: 0.3s;
}

.icons {
    display: flex;
    gap: 10px;

    align-items: center;
}

.icons>* {
    cursor: pointer;
    color: var(--black);
    transition: 0.3s;
}

.icons>*:hover {
    color: var(--TON-accent);
    transition: 0.3s;
}

@media (prefers-color-scheme: dark) {
    .separator {
        background-color: var(--dark-gray);
    }

    .label {
        color: #e5e5e9;
    }

    .link {
        color: #e5e5e9;
    }

    .icons>* {
        color: #e5e5e9;
    }
}