.footer {
    margin-top: 50px;
    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    height: 1px;
    width: 1120px;

    margin: 0;
    border: none;

    background-color: var(--gray);
}

.container {
    width: 1120px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-size: 16px;
}

.link {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;

    font-weight: 600;
}

.link:hover {
    color: #0098ea;
    transition: 0.3s;
}

.icons {
    display: flex;
    gap: 10px;

    align-items: center;
}

.icons>* {
    cursor: pointer;
    color: var(--black);
    transition: 0.3s;
}

.icons>*:hover {
    color: #0098ea;
    transition: 0.3s;
}